.tooltip{
    width:auto;

}
.tooltip-inner{
    max-width:none;
    white-space:normal;
    font-size:16px;
    width:215px;
    padding:20px;
    text-align:left;
}
.dataset-item .notes div div{
    display: block;

}